:root {
    --blue: rgb(98, 98, 129);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--blue);
    color: white;
    padding: 20px;
    display: flex;
}

header h1 {
    margin-right: 20px;
}

nav {
    position: absolute;
    right: 0px;
    margin-top: 10px;
}

li {
    display: inline;
    margin-right: 20px;
    text-decoration: underline;
}

article {
    background-image: url(./../images/mountain-view.jpeg);
    background-size: 100%;
    background-position: center;
    height: 300px;
    padding: 10px;
}

h2 {
    font-size: 20px;
    position: relative;
    text-align: center;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#about-me {
    width: 560px;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    width: 140px;
    border-right: 3px var(--blue) solid;
    font-size: 20px;
    text-align: center;
}

.elbert {
    width: 700px;
    border: 3px var(--blue) solid;
    border-radius: 10px;
}

#work {
    width: 140px;
}

.horiseon a img{
    width: 700px;
    padding: 10px;
    margin-left: 10px;
}

.cheatsheet a img {
    width: 500px;
    padding: 10px;
}

.contact {
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}